{% if error_message %}<p><strong>{{error_message }}</strong></p>{% endif %}

{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/beats.css' %}" />

<ul>
<li> There are {{beats_in_measure}} beats in the measure</li>
</ul>

<ul>
<li>Kick the bass on beats: {{latest_beat.bass_kicks}}</li>
<li>Hit the snare on beats: {{latest_beat.snare_hits}}</li>
</ul>

<li> <a href="{% url 'polls:beat_settings' %}">Change beat settings</a></li>
<li><a href="{% url 'polls:sheet_music'%}">View sheet music</a></li>
<li><a href="{% url 'polls:beat_index' %}">View all saved beats</a></li>


<form action="{%url 'polls:beat_saved' %}" method="post">
{% csrf_token %}
	<input type="text" name="beat_name" id="beat_name_box" value =""/>
	<label for="beat_name_box">Enter a name for your beat.</label></br>
<input type="submit" value="Save beat"/>
</form>